.login{
    width: 850px;
    height: 540px;
    margin: 0 auto;
}
.content{
    width: 700px;
    height: 454px;
    margin: 0 auto!important;
    background: #fff;
    position: relative;
    top: 90px;
}
.login_content{
    width: 500px;
    height: 50px;
    margin: 10px auto;
    border: 1px solid red;
}
.col-md-6{
    height: 384px;
    background: #fff;
}
.form{
    height: 250px;
}
.login_wx{
    width: 250px;
    margin-left: 38%;
}
.input-group{
    margin-bottom: 20px;
    padding-left: 20%;
}
.input_icon{
    margin-left: 100px!important;
    background: #fff!important;
    border-right: 0!important;
}
.form-control{
    outline: none!important;
    box-shadow: none!important;
}
.username{
    border-left: 0!important;
    border-radius: 0 4px 4px 0!important;
    width: 72%!important;
    height: 40px!important;
    padding: 0!important;
}
.password{
    border-left: 0!important;
    border-radius: 0 4px 4px 0!important;
    width: 72%!important;
    height: 40px!important;
    padding: 0!important;
}
.authCode{
    border-left: 0!important;
    border-radius: 0 4px 4px 0!important;
    width: 30%!important;
    height: 40px!important;
    padding: 0!important;
    margin-left: -48px;
}
.code{
    background: #3e88ff;
    letter-spacing: 3px;
    border: 0px;
    border-radius: 4px;
    width: 60px;
    height: 40px;
    margin-left: 32px;
}
.field_input{
    width: 20px;
    height: 20px;
}
label{
    color: #757575;
    position: relative;
    top: -5px;
    left: 5px;
}
.alink{
    position: relative;
    top: -5px;
    left: 142px;
}
.login_btn{
    height: 40px;
    border: 0;
    width: 60%;
    margin-left: 20%;
    margin-top: 10px;
    background: #4091fd;
    color: #fff;
    border-radius: 4px;
}
.thirdLogin i{
    width: 85%;
    height: 1px;
    background: lightgray;
    display:block;
    position: absolute;
    top: 100px;
    display: none;
}
.txt{
    width: 50%;
    position: absolute;
    top: 93px;
    left: 42px;
    background: #fff;
    text-align: center;
    color: lightgray;
}
.img_icon{
    height: 80px;
    padding: 0!important;
    margin-top: 120px;
}
.icon{
    float: left;
    margin-top: 5px;
    margin-left: 10px;
}