a{
    color: #3e88ff;
}
.login{
     width: 850px;
     height: 540px;
     margin: 0 auto;

 }
.content{
    width: 785px;
    height: 454px;
    margin: 0 auto!important;
    background: #fff;
    position: relative;
    top: 90px;
}
.login_content{
    width: 70%;
    height: 50%;
    margin: 0 auto;
    position: relative;
    top: 27%;
    text-align: center;
}
.span_title{
    font-size: 20px;
}
.checked1{
    margin-top: 20px;
    margin-left: -130px;
}
.checked2{
    margin-top: 15px;
}
button{
    width: 80px;
    height: 40px;
    border-radius: 4px;
    color: white!important;
    border: 0;
}
.btn{
    margin-top: 10px;
    margin-left: -10px;
}
.btn1{
     background: #4091fd;
}
.btn2{
    background: #b5b5b5;
    margin-left: 16px;
}