a{text-decoration: none;}
a:link {color: #757575;}
a:hover{color: #009fda;}
li{
    list-style: none;
}
input::-webkit-input-placeholder{
    color:lightgray;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:lightgray;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:lightgray;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
    color:lightgray;
}
body{
    font-size: 12px!important;
    width: 100%;
    background-repeat:no-repeat;
    background-size: cover;
}
.logo{
    height: 80px;
    margin: 0 auto;
    padding-top: 80px;
}
.logo_title{
    color: #fff;
    font-size: 28px;
    padding-left: 10px;    position: relative;
    top: 28px;
}
.bottom{
    width: 430px;
    margin: 115px auto 0px;
    color: #2e3e67;
}
.bottom_title{
    float: left;
    border-right: 1px solid #2e3e67;
    font-size: 20px;
    padding: 0 20px;
    height: 20px;
    line-height: 20px;
}
.bottom_content{
    margin-top: 10px;
    display:inline-block;
    font-size: 16px;
    margin-left: 60px;
}