<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>test</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <link href="static/css/public.css" rel="stylesheet" type="text/css">
    <link href="static/css/login-success.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css">
</head>
<body style="background-image: url('static/images/background.png');">
    <!-- 头部 -->
    <div class="logo" style="width: 600px">
        <div class="row" style="margin-left: 0px">
            <img src="static/images/logo.png">
            <a class="logo_title" th:if="1==1">连接到WUXIANJI.NET</a>
        </div>
    </div>
    <!-- 头部 -->
    <!-- 登录 -->
    <div class="login">
        <div class="content">
            <div class="top">
                <img class="img_head" src="static/images/headPhoto.png">
                <span class="title">亲爱的张三:</span>
            </div>
            <div class="login_success">
                <ul>
                    <li><img src="static/images/success.png"></li>
                    <li><h2 class="prompt" th:text="${token}">您已登录成功!</h2></li>
                    <li><button class="btn_success">好的</button></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 登录 -->
    <!-- 底部 -->
    <div class="bottom">
        <ul>
            <li class="bottom_title">关于我们</li>
            <li class="bottom_title">联系我们</li>
        </ul>
        <span class="bottom_content">@xxx.com</span>
    </div>
    <!-- 底部 -->
</body>
</html>